{% extends 'base.html.twig' %}

{% block title %}Mes allergies{% endblock %}

{% block stylesheets %}
<style>
  #allergies .list-group-item {
    user-select: none;
  }
  
  #allergies .list-group input[type="checkbox"] {
    display: none;
  }
  
  #allergies .list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
  }
  
  #allergies .list-group input[type="checkbox"] + .list-group-item:before {
    content: "❌";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
  }
  
  #allergies .list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #fac564;
    color: #dc3545;
    font-weight: bold;
  }
  
  #allergies .list-group input[type="checkbox"]:checked + .list-group-item:before {
    color: inherit;
  }
    
</style>
{% endblock %}

{% block body %}

    <section class="ftco-section">
      	<div class="justify-content-center pb-3">
         	<div class="heading-section ftco-animate text-center">
				<h2 class="mb-4">Mes allergies</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<div class="text-center ftco-animate">
					<p class="mb-4 mb-md-5"> Dites nous les ingrédients dont vous êtes allergiques</p>
				</div>
          	</div>
        </div>
        <div id="allergies" class="container">
            <div class="list-group">
                <form method="post" action="{{ path('app_allergies') }}" onsubmit="return confirm('Vous êtes vraiment sûr des ingrédients dont vous êtes allergique ?');">
                    {% for ingredient in ingredients %}
                        <input type="checkbox" id="{{'ingredient_' ~ ingredient.id }}" {% for allergie in allergies %} {{(allergie.id == ingredient.id ) ? 'checked="checked"' : ''}} {% endfor %} name="ingredient[]" value="{{ ingredient.id }}">
                        <label class="list-group-item" for="{{'ingredient_' ~ ingredient.id }}">{{ ingredient.name | upper }}</label>
                    {% endfor %}
                    <div class="text-center">
                        <input type="submit" class="btn btn-white btn-outline-white mt-5 p-3 px-xl-4 py-xl-3" value="Sauvegarder">
                    </div>
                </form>
            </div>
        </div>
	</section>

{% endblock %}