{% extends 'base.html.twig' %}

{% block title %}Edit Allergie{% endblock %}

{% block stylesheets %}
<style>
   select#allergie_ingredients{
    width: 100%;
    border: 0;
    background: #e9ecef;
    margin: 0;
    height: auto;
    padding: 10px 0px;
  }

  #allergie_ingredients option{
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  #allergie_ingredients option[selected]{
    background-color: #fac564;
    color: #dc3545;
    font-weight: bold;
  }

  
  #allergie_ingredients option[selected] + .list-group-item {
    cursor: pointer;
  }
  
  #allergie_ingredients option[selected] + .list-group-item:before {
    content: "\2713";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
  }
  
  #allergie_ingredients option[selected] + .list-group-item {
    background-color: #fac564;
    color: #dc3545;
    font-weight: bold;
  }
  
  #allergie_ingredients option[selected] + .list-group-item:before {
    color: inherit;
  }
select#allergie_ingredients[multiple]:focus option:checked {
  background: #fac564 linear-gradient(0deg, #fac564 0%, #fac564 100%);
  color: #dc3545;
    font-weight: bold;
}
</style>
{% endblock %}

{% block body %}

    <section class="ftco-section">
      	<div class="justify-content-center pb-3">
         	<div class="heading-section ftco-animate text-center">
				<h2 class="mb-4">Mes allergies</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<div class="text-center ftco-animate">
					<p class="mb-4 mb-md-5"> Dites nous les ingrédients dont vous êtes allergiques</p>
				</div>
          	</div>
        </div>
        <div id="allergies" class="container">
            <div class="list-group">
            {{ form_start(form, {'method': 'POST'}) }}
                
                {{ form_row(form.ingredients) }}
                {{ form_widget(form) }}
                <div class="text-center">
                        <input type="submit" class="btn btn-white btn-outline-white mt-5 p-3 px-xl-4 py-xl-3" value="Sauvegarder">
                    </div>
            {{ form_end(form) }}
                {#<form method="post" action="{{ path('app_allergies_post') }}" onsubmit="return confirm('Vous êtes vraiment sûr des ingrédients dont vous êtes allergique ?');">
                    {% for ingredient in ingredients %}
                        <input type="checkbox" id="{{'ingredient_' ~ ingredient.id }}" name="{{'ingredient_' ~ ingredient.name }}" value="{{ ingredient.id }}">
                        <label class="list-group-item" for="{{'ingredient_' ~ ingredient.id }}">{{ ingredient.name | upper }}</label>
                    {% endfor %}
                    <div class="text-center">
                        <input type="submit" class="btn btn-white btn-outline-white mt-5 p-3 px-xl-4 py-xl-3" value="Sauvegarder">
                    </div>
                </form>#}
            </div>
        </div>
	</section>

{% endblock %}
